<div class="footer">
    <div class="footer-container container-1248 clearfix">
        <div class="qr-wrap fl">
            <div class="qrcode"></div>
            <span>小码王官方公众号</span>
        </div>
        <ul class="fl">
            <li>
                <img class="phone" src="../assets/image/footer/phone.png" alt="">
                <span>联系我们：400-598-872</span>
            </li>
            <li>
                <img class="email" src="../assets/image/footer/email.png" alt="">
                <span>邮箱地址：service@xiaoma.wang</span>
            </li>
            <li class="mgb26">
                <img class="map" src="../assets/image/footer/map.png" alt="">
                <span>总部地址：杭州 · 城西银泰城 · C座19楼</span>
            </li>
            <li>
                <span class="copyright">COPYRIGHT &#169 2016-2036 小码教育 ALL RIGHTS RESERVED 杭州信奥教育科技有限公司 浙公网安备 33010502004964号 | 浙ICP备18011084号</span>
            </li>
        </ul>
        <div class="logo fr">
            <img src="../assets/image/footer/logo.png" alt="">
        </div>
    </div>
</div>












<!-- 这是美洽的嵌入代码 -->
<script type='text/javascript'>
  (function(m, ei, q, i, a, j, s) {
      m[i] = m[i] || function() {
          (m[i].a = m[i].a || []).push(arguments)
      };
      j = ei.createElement(q),
          s = ei.getElementsByTagName(q)[0];
      j.async = true;
      j.charset = 'UTF-8';
      j.src = 'https://static.meiqia.com/dist/meiqia.js?_=t';
      s.parentNode.insertBefore(j, s);
  })(window, document, 'script', '_MEIQIA');
  _MEIQIA('entId', 106450);
  _MEIQIA('init');
</script>
