<div class="header-container">
    <div class="header1">
        <a href="#">小码王主站</a>
        <a href="#">线下课程</a>
        <a href="#">在线课程</a>
        <a href="#">校园</a>
        <a href="#">社区</a>
        <a href="#">关于我们</a>
    </div>
    <div class="header2 clearfix">
        <div class="logo fl">
            <img src="../assets/image/header/logo.png" alt="">
        </div>
        <div class="header2-nav">
            <a href="index.html">首页</a>
            <a href="course.html">课程体系</a>
            <a href="#">教学模式</a>
            <a href="#">预约体验</a>
            <a href="#">校区分布</a>
        </div>
        <a href="#" class="header2-a">学习中心</a>
    </div>
</div>
